<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuppa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.shuppa.VerityApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shuppa.ui.search.BrandSearchResults"></activity>
        <activity android:name="com.shuppa.ui.checkout.SuccessActivity" />
        <activity
            android:name="com.shuppa.ui.checkout.CheckoutActivity"
            android:label="Checkout" />
        <activity
            android:name="com.shuppa.ui.search.SearchActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuppa.MainActivity" />
        </activity>
        <activity
            android:name="com.shuppa.ui.auth.AuthChooser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shuppa.ui.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shuppa.ui.auth.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shuppa.ui.auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shuppa.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>